* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(1, 1, 39);
  color: white;
  font-family: "Poppins", sans-serif;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: rgb(16 16 62 / 69%);
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin: 0 23px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  position: relative;
}
nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: rgb(87, 87, 241);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
nav ul li a:hover::after {
  width: 100%;
  font-size: 1.02rem;
}

main hr {
  border: 0;
  background: rgb(154, 154, 230);
  height: 1.2px;
  margin: 60px 84px;
}
.left {
  font-size: 1.5rem;
}

.text-grey {
  color: gray;
}
.firstSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 80px 0;
}
.firstSection > div {
  width: 30%;
}
.leftSection {
  font-size: 2.5rem;
}
.leftSection .btn {
  padding: 12px;
  background-color: rgb(30, 30, 105);
  color: white;
  border: 2px solid white;
  border-radius: 6px;
  font-size: 10px;
  cursor: pointer;
}
.rightSection img {
  width: 100%;
}

.purple {
  color: rgb(126, 61, 187);
}
#element {
  color: rgb(126, 61, 187);
}

/* ---- past work experience ------- */

.Experience {
  max-width: 80vw;
  margin: 80px auto;
  height: 80vh;
}
.Experience h1 {
  font-size: 1.9rem;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.col-1-img {
  flex-basis: 35%;
}
.col-1-img img {
  width: 100%;
  border-radius: 15px;
}

.cal-2-des {
  flex-basis: 60%;
}
.sub-title {
  font-size: 60px;
  font-weight: 600;
  color: white;
}

.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}
.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: rgb(87, 87, 241);
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 50%;
}
.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}
.tab-contents ul li span {
  color: rgb(57, 57, 239);
  font-size: 14px;
}
.tab-contents {
  display: none;
}
.tab-contents.active-tab {
  display: block;
}

/* --------- Persnoal projects -------- */

#project {
  padding: 30px 0;
}
.Projects {
  max-width: 80vw;
  margin: 80px auto;
  height: 80vh;
}
.projects-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.projects-list div {
  background: rgb(2, 2, 89);
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}

.projects-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}

.projects-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}
.projects-list div a {
  text-decoration: none;
  color: rgb(23, 23, 66);
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}

.projects-list div:hover {
  background: rgb(130, 130, 240);
  transform: translateY(-10px);
}
/* -------------- portfolio ------------- */
.Portfolio {
  max-width: 80vw;
  margin: 80px auto;
  height: 80vh;
}
.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.work img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.cover {
  width: 100%;
  height: 00%;
  background: linear-gradient(rgb(0, 0, 0, 0.6), #ff004f);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0, 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}

.cover h3 {
  font-weight: 500;
  margin-bottom: 20px;
}

.cover a1 {
  margin-top: 20px;
  color: #ff004f;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}

.work:hover img {
  transform: scale(1.1);
}
.work:hover .cover {
  height: 100%;
}
.see-more-btn {
  text-decoration: none;
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #ffffff;
  padding: 14px 50px;
  border-radius: 6px;
  color: rgb(130, 130, 239);
  transition: background 0.5s;
}
.see-more-btn:hover {
  background: rgb(237, 210, 210);
}

/* ---- Contact form ------ */

.contact-box{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-info {
  max-width: 80vw;
  margin: 80px auto;
  height: 80vh;
}
.contact-detail{

  flex-basis: 30%;
}
.contact-form{
  flex-basis: 60%;
}
.contact-detail p{
  margin-top: 30px; 
}
.contact-detail p i{
  color: white;
  margin-right: 15px;
  font-size: 25px; 
}

.social-media{
  margin-top: 30px;

}
.social-media a{
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: white;
  display: inline-block;
 transition: transform 0.5s;
}
.social-media a:hover{
  color: rgb(55, 55, 94);
  transform: translateY(-5px);
}

.see-more-btn.contact-btn{
  display: inline-block;
  background: rgb(74, 74, 207);
}
.contact-form{
  width: 50%;
}
form input, form textarea{
  width: 100%;
  border: 0;
  outline: none;
  background:rgba(255, 255, 255, 0.888);
  padding: 15px;
  margin: 15px 0;
  color: rgba(19, 18, 18, 0.911);
  font-size: 18px;
  border-radius: 6px;

}
form .contact-btn{
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
} 

/* -------footer------ */

footer {
  background-color: rgb(0 12 53);
  padding: 23px 0;
}
.footer {
  display: flex;
  padding: 23px 122px;
  justify-content: space-evenly;
}

.footer ul {
  list-style: none;
}

.footer > div {
  width: 120px;
}

footer .footer-rights {
  text-align: center;
  color: grey;
  padding: 12px 0px;
}
